.hover-highlight:hover {
    background-color: #f0f0f0; /* Light grey background on hover */
}
.bg-blue {
    background-image: url('images/3bg.jpg');
    background-size: cover;
    background-position: center;
}
